body {
    background-image: url("../images/mati-3131158_1280.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    background-size: 100% 100%;
}
